{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}
<div>
	<hr>
	<form action="{% url 'animes:ExecChangeName' %}" method="POST">
	{% csrf_token %}
	<table border="1">
		<thead>
			<tr>
				<td>対象</td>
				<td>話数</td>
				<td>サブタイトル</td>
			</tr>
		</thead>
		<tbody>
			{% for item in list %}
			<tr>
				<td><input type="checkbox" name="target-{{ item.rno }}" value="true"/></td>
				
				<td>{{ item.rno }}</td>
				<td>{{ item.subtitle }}</td>
				<td>
					<select name="file-{{ item.rno }}">
					{% for file in files %}
						<option value="{{ file }}">{{ file }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type='hidden' name="tid" value="{{ tid }}">
	<input type='submit' value='実行' />
	</form>
</div>
{% endblock %}
